/* Write CSS here */
.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-sm-bg.png');
  height: 100vh;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-heading {
  font-family: 'Roboto';
  font-size: 35px;
  color: #333333;
}
.timer-container {
  background-color: #ffffff;
  border: 0px solid;
  border-radius: 8px;
  width: 100%;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
}
.stop-watch-container {
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.timer-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}
.timer-image {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-bottom: 0px;
}
.timer-title {
  font-family: 'Roboto';
  font-size: 30px;
  color: #333333;
  font-weight: 500;
  margin-bottom: 0px;
}
.timer-control-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.start-btn {
  background-color: #1db05f;
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 15px;
  height: 25px;
  width: 75px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.stop-btn {
  background-color: #ef0d36;
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 15px;
  height: 25px;
  width: 75px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.reset-btn {
  background-color: #eaa800;
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 15px;
  height: 25px;
  width: 75px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.timer {
  font-family: 'Roboto';
  font-size: 36px;
  color: #333333;
}

@media (min-width: 768px) {
  .app-container {
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 100px;
    padding-top: 100px;
    background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-lg-bg.png');
  }
  .main-heading {
    font-size: 50px;
  }
  .stop-watch-container {
    width: 250px;
    height: 300px;
  }
  .timer-image {
    width: 20px;
    height: 20px;
  }
  .timer-title {
    font-size: 20px;
  }
  .start-btn {
    font-size: 12px;
    width: 60px;
    height: 30px;
  }
  .stop-btn {
    font-size: 12px;
    width: 60px;
    height: 30px;
  }
  .reset-btn {
    font-size: 12px;
    width: 60px;
    height: 30px;
  }
  .timer {
    font-size: 45px;
  }
  .timer-control-container {
    margin-bottom: 10px;
  }
}
